.hamburger{
    display: none;
    width: 28px;
    height: 31px;
    border: none;
    transition: 200ms;
}

.hamburger--close{
    background: var(--close);
}

.hamburger--open{
    transform: rotateZ(90deg);
    background: var(--open);
}



@media only screen and (max-width:900px){
    .hamburger{
        display: inline-block;
    }
}