@keyframes nav-open{
    0%{
        right: -100vh;
    }
    100%{
        right: 0;
    }
}
.header{
    position: fixed;
    max-width: 100%;
    width: 100%;
    background-color: var(--white);
    left: 0;
    top: 0;
    z-index: 99;
}
.header__container{
    @include flex-box;
}
.header__content{
    @include flex-box;
}

.header__nav-list{
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.header__nav-item{
    margin-right: 20px;
    &:last-child{
        margin-right: 0;
    }
}

.header__nav-link{
    color: var(--dark);
    @include poppins (500,16px,28px);
    transition: 100ms;
    &:active{
        font-weight: bolder;
    }
}


.gradient{
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 65px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.37);
    display: none;
}

@media only screen and (max-width:900px){
    .header__content{
        display: none;
        flex-direction: column;
        background-color: $light-green;
        text-align: center;
        width: 300px;
        height: 100vh;
        position: absolute;
        padding: 30px;
        border-radius: 5px;
        top: 65px;
        right: 0;
        z-index: 2;
    }

    .header__nav-list{
        flex-direction: column;
    }

    .nav--opener{
        display: block;
        animation: nav-open 300ms;
    }

    .header__nav-item{
        margin-right: 0;
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 20px;
        }
    }
    .header__nav-link{
        color: white;
    }

    
}

